.qodo
node_modules
frontend
logs/
logs*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Vector Database
faiss_store/
.pytest_cache/
